.cardsTableContainer {
  border-radius: 10px 10px 0 0;
  height: 100%;
}

.cardsTable {
  height: 100%;
}

.tableHeadContainer {
  background-color: #b2abd9;
}

.tableRow span {
  color: #1976d2;
}

.cardsCountText {
  cursor: pointer;
  transition-duration: 500ms;
}

.cardsCountText:hover {
  background-color: rgba(50, 123, 255, 0.38);
}

.lastUpdateText {
  cursor: pointer;
  transition-duration: 500ms;
}

.lastUpdateText:hover {
  background-color: rgba(50, 123, 255, 0.38);
}
