.cardsTableContainer {
  border-radius: 10px 10px 0 0;
  height: 100%;
}

.cardsTable {
  height: 100%;
}

.tableHeadContainer th {
  background-color: #ac41d0;
  font-size: 16px;
  font-weight: 600;
}

.tableRow span {
  color: #1976d2;
}

.cardsCountText {
  cursor: pointer;
  transition-duration: 500ms;
}

.cardsCountText:hover {
  background-color: rgb(172, 65, 208);
}

.lastUpdateText {
  cursor: pointer;
  transition-duration: 500ms;
}

.lastUpdateText:hover {
  background-color: rgb(172, 65, 208);
}
.cardContainer div table tbody:nth-child(even) {
  background-color: #3b61df !important;
}

.cardContainer td {
  font-size: 14px;
  font-weight: 500;
}
.addBackGround {
  background-color: rgb(231, 194, 255);
}
.buttonContainer {
}

.buttonContainer button {
  padding: 0 5px 0 5px;
  margin: 0 5px 0 5px;
}