.container {
  width: 95%;
  height: 90%;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 11px 16px 17px 6px rgba(34, 60, 80, 0.29);
  -moz-box-shadow: 11px 16px 17px 6px rgba(34, 60, 80, 0.29);
  box-shadow: 11px 16px 17px 6px rgba(34, 60, 80, 0.29);
  position: absolute;
  top: 70px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

.cardsContainer {
  height: 90%;
  margin-top: 10px;
}

.emptyText {
  position: absolute;
  top: 40%;
  left: 38%;
  font-size: 20px;
}
