.packListContainer {
  width: 95%;
  height: 90%;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 11px 16px 17px 6px rgba(34, 60, 80, 0.29);
  -moz-box-shadow: 11px 16px 17px 6px rgba(34, 60, 80, 0.29);
  box-shadow: 11px 16px 17px 6px rgba(34, 60, 80, 0.29);
  position: absolute;
  top: 70px;
  padding: 15px 15px 15px 0;
  border-radius: 5px;

  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 8% 92%;
  grid-template-areas:
    'filter search'
    'filter table';
}
