.forgotFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  min-width: 230px;
}

.forgotFormContainer button:hover {
  background-color: rgba(39, 144, 237, 0.87);
  transition: 0.6s;
}
.form_description {
  margin: 10px 0 30px 0;
  max-width: 170px;
  color: rgba(0, 0, 0, 0.47);
}


