.newPasswordContainer {
  height: 100%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.newPasswordContainer h1 {
  margin: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form a {
  font-weight: 600;
  color: #1976d2;
}

.containerFooter {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.containerFooter button {
  margin: 10px 0;
  width: 100px;
}

.errorMessage {
  padding: 10px;
  width: 200px;
  height: 30px;
  border-radius: 4px;
  opacity: 0;
}

.errorMessageActive {
  color: red;
  opacity: 1;
}

.eye {
  position: relative;
  bottom: 15px;
  left: 170px;
}
