.cardContainer td {
  font-size: 14px;
  font-weight: 500;
}
.addBackGround {
  background-color: #d0e5ff;
}
.buttonContainer {
}

.buttonContainer button {
  padding: 0 5px 0 5px;
  margin: 0 5px 0 5px;
}
