.formContainer {
  display: flex;
  flex-direction: column;
}
.description {
  margin: 0 auto;
  padding: 10px 0 10px 0;
  color: rgba(0, 0, 0, 0.5);
}

.link {
  margin: 0 auto;
}

.link a {
  font-weight: 600;
  color: #1976d2;
  margin: 0 auto;
}

.formContainer .button {
  margin: 10px 0;
}

.formContainer .button:hover {
  background-color: rgba(39, 144, 237, 0.87);
  transition: 0.6s;
}